.testimonial-prev,
.testimonial-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  background-color: rgb(243 244 246);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(55 65 81);
  transition: all 0.2s;
  cursor: pointer;
}

.testimonial-prev:hover,
.testimonial-next:hover {
  background-color: rgb(229 231 235);
}

.testimonial-prev {
  left: 0;
}

.testimonial-next {
  right: 0;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}